<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.vutbr.fit.intelligenthomeanywhere"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" >
        </meta-data>

        <activity
            android:name="cz.vutbr.fit.intelligenthomeanywhere.activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cz.vutbr.fit.intelligenthomeanywhere.activity.LocationScreenActivity"
            android:label="@string/title_activity_locaction_screen" >
        </activity>
        <activity
            android:name="cz.vutbr.fit.intelligenthomeanywhere.activity.DataOfLocationScreenActivity"
            android:label="@string/title_activity_data_of_locacion_screen" >
        </activity>
        <activity
            android:name="cz.vutbr.fit.intelligenthomeanywhere.activity.Notification"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="cz.vutbr.fit.intelligenthomeanywhere.activity.AddSensorActivity"
            android:label="@string/title_activity_add_sensor"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cz.vutbr.fit.intelligenthomeanywhere.activity.SensorDetailActivity"
            android:label="@string/title_activity_sensor_detail" >
        </activity>
        <activity
            android:name="cz.vutbr.fit.intelligenthomeanywhere.activity.LoginFacebookActivity"
            android:label="@string/title_activity_login_facebook" >
        </activity>
        <activity
            android:name="cz.vutbr.fit.intelligenthomeanywhere.activity.ChangeLocationNameActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="cz.vutbr.fit.intelligenthomeanywhere.activity.ChangeDeviceNameActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="cz.vutbr.fit.intelligenthomeanywhere.activity.AddAdapterActivity"
            android:label="@string/title_activity_add_adapter"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cz.vutbr.fit.intelligenthomeanywhere.activity.RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cz.vutbr.fit.intelligenthomeanywhere.activity.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="cz.vutbr.fit.intelligenthomeanywhere.SensorWidgetProvider"
            android:icon="@drawable/ic_launcher"
            android:label="@string/widget_sensor_title" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_sensor" />
        </receiver>

        <service
            android:name="cz.vutbr.fit.intelligenthomeanywhere.WidgetUpdateService"
            android:enabled="true"
            android:exported="false" >
        </service>
    </application>

</manifest>