<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.rehivetech.beeeon"
    >

    <application
        android:name=".DebugApplication"
        tools:replace="android:name">

        <activity android:name=".gui.activity.OAuthRedirectActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="com.rehivetech.beeeon.debug"/>
            </intent-filter>
        </activity>
    </application>
</manifest>